node-red/flows.json
[{"id":"0a84fcef42ddc94e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8ecde103e664eec0","type":"tab","label":"Cameras","disabled":false,"info":"","env":[]},{"id":"f482c16b.7b4d","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"090665a04fa6c385","type":"mqtt-broker","name":"Homeassistant MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef067c6f.620e6","type":"server","name":"hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"62d7bb2f.196044","type":"server","name":"ESP Home","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"10"},{"id":"d28c9492.f419c8","type":"server","name":"","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"2dde05e9153f7e26","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7724bf65801a42b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fde6ffd3a8708d4","type":"ui_group","name":"Standard","tab":"2dde05e9153f7e26","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cd4403b5.968d1","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"250eeee2.afada2","type":"mqtt-broker","name":"192.168.1.8","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c363ac69f6426299","type":"mqtt in","z":"0a84fcef42ddc94e","name":"","topic":"#","qos":"2","datatype":"auto","broker":"090665a04fa6c385","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":40,"wires":[["b394058093f84240"]]},{"id":"b394058093f84240","type":"debug","z":"0a84fcef42ddc94e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":40,"wires":[]},{"id":"960397ce4bbc7662","type":"comment","z":"0a84fcef42ddc94e","name":"Send the picture to the AI Server","info":"","x":950,"y":40,"wires":[]},{"id":"cb0d25c7b7b6aece","type":"comment","z":"0a84fcef42ddc94e","name":"save the picture to the server file system","info":"","x":290,"y":100,"wires":[]},{"id":"3b3c3b068dcdc6a0","type":"exec","z":"0a84fcef42ddc94e","d":true,"command":"curl --request POST 'http://192.168.178.201:8001/prediction/' --form 'file=@\"/path/to/image.jpg\"'","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":470,"y":140,"wires":[[],[],[]]},{"id":"64045843ccf3be90","type":"http request","z":"0a84fcef42ddc94e","name":"accounts","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://fabman.io/api/v1/members","tls":"","persist":false,"proxy":"","authType":"bearer","senderr":false,"x":300,"y":440,"wires":[["c78c3ce82bb9f974"]]},{"id":"b0d01a6df724d8e6","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":440,"wires":[["64045843ccf3be90"]]},{"id":"c78c3ce82bb9f974","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"aa312f6f1d1f6fa7","type":"tcp out","z":"0a84fcef42ddc94e","host":"192.168.99.12","port":"1234","beserver":"client","base64":false,"end":false,"name":"Send Signal","x":530,"y":560,"wires":[]},{"id":"703676520359d407","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"Message:I\\n\"","payloadType":"str","x":170,"y":560,"wires":[["d8e111d4e3b55ce8"]]},{"id":"554dde7fb94b24c1","type":"debug","z":"0a84fcef42ddc94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"c43eb6d0.a40ec8","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x7B\",\"0x4D\",\"0x43\",\"0x00\",\"0x04\",\"0x1F\",\"0x0a\",\"0x08\",\"0x00\",\"0x0d\",\"0x7D\"]","payloadType":"bin","x":190,"y":620,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"d8e111d4e3b55ce8","type":"function","z":"0a84fcef42ddc94e","name":"","func":"//const str = \"Hey. this is a string!\";\n\n// convert string to Buffer\n//const buff = Buffer.from(msg.payload, \"utf-8\");\nvar b = Buffer.from(msg.payload);\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":560,"wires":[["aa312f6f1d1f6fa7","554dde7fb94b24c1"]]},{"id":"31d2a9ed5c5d5901","type":"mqtt out","z":"0a84fcef42ddc94e","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"090665a04fa6c385","x":690,"y":40,"wires":[]},{"id":"61481db6918f8409","type":"inject","z":"0a84fcef42ddc94e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"asassa111","payloadType":"str","x":560,"y":40,"wires":[["31d2a9ed5c5d5901"]]},{"id":"ed5bb17c8a805d85","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam1","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam1_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":200,"wires":[[]]},{"id":"a146c8659c3c7477","type":"server-events","z":"8ecde103e664eec0","d":true,"name":"","server":"f482c16b.7b4d","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":420,"wires":[["980dc6ce4d8d76a1"]]},{"id":"980dc6ce4d8d76a1","type":"switch","z":"8ecde103e664eec0","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"button.pcs1_cam1_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam2_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam3_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam4_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam5_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam6_snapshot","vt":"str"},{"t":"eq","v":"button.pcs1_cam7_snapshot","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":420,"wires":[["7cd536bbc6ddd750"],["6e38b51bb98fa30d"],["330c536dbab6ac0d"],["afe0b1f2d88300fe"],["5f3d193b96b4a098"],["6e701fafc2a6f7a4"],["7ea2de20719dc7cf"]]},{"id":"7cd536bbc6ddd750","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[["ed5bb17c8a805d85"]]},{"id":"b65d32632abbadb3","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam2","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam2_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":260,"wires":[[]]},{"id":"6e38b51bb98fa30d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["b65d32632abbadb3"]]},{"id":"330c536dbab6ac0d","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["49e2f4e3693db76c"]]},{"id":"afe0b1f2d88300fe","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["449cee82f2a02a06"]]},{"id":"5f3d193b96b4a098","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":440,"wires":[["91c4b19dd8f9e820"]]},{"id":"6e701fafc2a6f7a4","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["dfe0392b3b99dcde"]]},{"id":"49e2f4e3693db76c","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam3","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam3_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"449cee82f2a02a06","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam4","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam4_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":380,"wires":[[]]},{"id":"91c4b19dd8f9e820","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam5","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam5_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":440,"wires":[[]]},{"id":"dfe0392b3b99dcde","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam6_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":500,"wires":[[]]},{"id":"7ea2de20719dc7cf","type":"change","z":"8ecde103e664eec0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["60e75165860ec388"]]},{"id":"60e75165860ec388","type":"api-call-service","z":"8ecde103e664eec0","name":"Snapshot Cam6","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.pcs1_cam7_camera","data":"{\"filename\":\"/config/www/photos/{{ now().strftime(\\\"%Y%m%d-%H%M%S\\\") }}_{{ entity_id.name }}.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":560,"wires":[[]]},{"id":"a63b0255247c5462","type":"link in","z":"8ecde103e664eec0","d":true,"name":"","links":[],"x":295,"y":40,"wires":[["7cd536bbc6ddd750"]]},{"id":"2fde9f8b3c92eaa4","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam7","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":340,"wires":[["7ea2de20719dc7cf"]]},{"id":"c69f4d2263cfc1b3","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam6","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":300,"wires":[["6e701fafc2a6f7a4"]]},{"id":"806d48da56062186","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam5","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":260,"wires":[["5f3d193b96b4a098"]]},{"id":"f976c6cb3c6e4b40","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam4","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":220,"wires":[["afe0b1f2d88300fe"]]},{"id":"99a60e7808d00f8d","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":180,"wires":[["330c536dbab6ac0d"]]},{"id":"03c6e472be8b4fe5","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":140,"wires":[["6e38b51bb98fa30d"]]},{"id":"20ffff7a62d57886","type":"ui_button","z":"8ecde103e664eec0","name":"","group":"5fde6ffd3a8708d4","order":0,"width":0,"height":0,"passthru":false,"label":"Cam1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":100,"wires":[["7cd536bbc6ddd750"]]}]