node-red/flows.json
[{"id":"0a84fcef42ddc94e","type":"tab","label":"Pressure Cooker Control","disabled":true,"info":"","env":[]},{"id":"6461cd2bad4f5f85","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f1899613720e0d3e","type":"group","z":"0a84fcef42ddc94e","name":"Shelly Plug Timer","style":{"stroke":"#000000","fill":"#ffcf3f","fill-opacity":"0.47","label":true,"color":"#000000"},"nodes":["bafc498c11bfc8e8","e07624960672e947","21138954a871e598","edf74f929674f50d","08c0412545aef80b","9d4b546ed4058abd","1de64334aff41dcf","5babe14544918874","87275aaf7e8dccb7","0fb75c1f1abb8bc8","a6bdf2785c7d808d","fb2994ceb9e5a4bf","feec51ab288054cf","b13930f8826798d7","0329f12c1807d0ea","3c20d0027ece823f","e4da59d64916e5e9","dca9b7e51ff60d95","da5a0f9621efb978","54181cb94e63f41a","6c689d4038e6df1a","76e7ed80f234026b","2d801140495d5701","803c1fa31f0bdbe3","101da2947007b23a","c57aef766b322e91","f483a3b783bf4dd9","e77917460a35fa9a","bf8154d8b958d20e","7c68065c9ccf2cc6","5e44819b103b36c6","5c2fc3cd73bf016e","242b041848248450","e9989d58c72e5c32","b85ddca7ea13cebb","75f4492c2611d2fc","3e94c174d4b9efc7","b55bacccb48ce5f5","16afa9d6e95aae90","e2112738c6ea7336","b768bc10eadc1035","fe49072f5a08d1de","2d06c91f91b2941f","315c763b0eb2a3d0","bd565404b9d4b6a7","1a55de8a5e1ab8ad","b7fce938d272483f","083b30df49d29c87","f1478836fea38d40","76f1fe156f03cd79","42f75b7d40d94596","b8abeae83c8da9dc","2a96f8e588366b47","827ed91ba83bf185","86fe7b19d2a85599","361463d8e2693593","b7131c6526c33bf5","3a227481d2201d6e","9b74217658332505","a390f13c4ab808f8","5cf0da0f7d2e07de","7f40506b54d33604","bda05e7d16757ec4","8bf3b1246de1b81f","56abaabf02aa6735","2767adcd0ba679d7","153acf69ad9feb08","6d9156e31b6bf0ae","6a6cd9f34a93e818","4eb2acd8dca81ea9","1a68e55ba98b0603","22fd7b37b1742dd4","18620d81c1ac5965","7cec779ddb934d71","2ba12bea0b9b446e","a5263d4e1bc12371","331250202096e4ce","dd960f6bd45c7a1b","93ebbe2eb7fa8cb3","56aefd5538f4739d","d85af8749a279f47","5559bc5508e14b8f","fc69b11017edf36f","643e913b59bb39cf","9ff69300eba2f82c","de7062b875186b94"],"x":74,"y":79,"w":2272,"h":1122},{"id":"65fd1e389376b567","type":"group","z":"0a84fcef42ddc94e","name":"Telegram Bot","style":{"stroke":"#000000","fill":"#0070c0","fill-opacity":"0.39","label":true,"color":"#000000"},"nodes":["6fdb1b5f38db5a8e","d1cb85b99d1d54a2","732f0ef9ea8f0278","204e8a2ae2a9a13b","5f6ea8e04cca97c3","db42fc84f7358b61","b0672867e4306a4a","76e8c6da833a297d","90cc04fca260f0bc","ec687a4f553cedea","0b7935189b68ed51","4fc52f84c7e39c21","25787cb411e23250","897830b5190a2801","29e3c6d68f74179c","895ba647f2655245","dff9b29fe31557b8","7fd5f9e4ae6ddb2b","0fb067b898d6e950","39ed800024dd1b68","20f5708251409d9b","1f9fcce6ad3cc7a0","7b9dfb485c9f7dc0","0a01731189a29fe5"],"x":74,"y":1234,"w":1752,"h":467},{"id":"361463d8e2693593","type":"junction","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","x":520,"y":180,"wires":[["f483a3b783bf4dd9","7c68065c9ccf2cc6"]]},{"id":"b7131c6526c33bf5","type":"junction","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","x":540,"y":360,"wires":[["5e44819b103b36c6"]]},{"id":"3a227481d2201d6e","type":"junction","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","x":1740,"y":560,"wires":[["edf74f929674f50d"]]},{"id":"f482c16b.7b4d","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"090665a04fa6c385","type":"mqtt-broker","name":"Homeassistant MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ef067c6f.620e6","type":"server","name":"hass.io","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"62d7bb2f.196044","type":"server","name":"ESP Home","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"10"},{"id":"d28c9492.f419c8","type":"server","name":"","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"2dde05e9153f7e26","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7724bf65801a42b3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fde6ffd3a8708d4","type":"ui_group","name":"Standard","tab":"2dde05e9153f7e26","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cd4403b5.968d1","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"250eeee2.afada2","type":"mqtt-broker","name":"192.168.1.8","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"0a335b833cb0b366","type":"telegram bot","botname":"protohaus_makeracademy_biolab_pods","usernames":"CptPingui","chatids":"-804346149","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"bafc498c11bfc8e8","type":"server-events","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","server":"f482c16b.7b4d","version":1,"event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":600,"wires":[["5c2fc3cd73bf016e"]]},{"id":"6fdb1b5f38db5a8e","type":"telegram sender","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"","bot":"0a335b833cb0b366","haserroroutput":false,"outputs":1,"x":1250,"y":1280,"wires":[[]]},{"id":"d1cb85b99d1d54a2","type":"delay","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":350,"y":1320,"wires":[["732f0ef9ea8f0278"]]},{"id":"732f0ef9ea8f0278","type":"function","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"Save Original Message","func":"msg.telegram_message = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1320,"wires":[["204e8a2ae2a9a13b"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"204e8a2ae2a9a13b","type":"switch","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/help","vt":"str"},{"t":"eq","v":"/pod01_off","vt":"str"},{"t":"eq","v":"/pod02_off","vt":"str"},{"t":"eq","v":"/pod03_off","vt":"str"},{"t":"eq","v":"/pod04_off","vt":"str"},{"t":"eq","v":"/all_off","vt":"str"},{"t":"eq","v":"/states","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":730,"y":1320,"wires":[["5f6ea8e04cca97c3"],["76e8c6da833a297d"],["90cc04fca260f0bc"],["ec687a4f553cedea"],["0b7935189b68ed51"],["4fc52f84c7e39c21"],["897830b5190a2801"],["5f6ea8e04cca97c3"]]},{"id":"5f6ea8e04cca97c3","type":"function","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"Help Information Message","func":"var message =\n  `\n*Hello, i am the Protohaus \\\\- Makeracademy \\\\| BioLab \\\\- Pods Bot*\n\nI provide you with information about the pod timers \\\\(started, paused, finished, cancelled\\\\)\nas well as information about the emergency shutdown if you forgot to turn off the pods youself\\\\.\n\nsend following commands to control the Pods\n\\\\/help\n\\\\/pod01\\\\_off\n\\\\/pod02\\\\_off\n\\\\/pod03\\\\_off\n\\\\/pod04\\\\_off\n\\\\/all\\\\_off\n\\\\/states\n`;\n\n\nmsg.payload.type = 'message';\nmsg.payload.content = message;\n\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1280,"wires":[["6fdb1b5f38db5a8e"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"db42fc84f7358b61","type":"telegram receiver","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"","bot":"0a335b833cb0b366","saveDataDir":"/config/www/photos/telegram/","filterCommands":true,"x":190,"y":1340,"wires":[["d1cb85b99d1d54a2","b0672867e4306a4a"],[]]},{"id":"e07624960672e947","type":"server-events","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","server":"f482c16b.7b4d","version":1,"event_type":"timer.started","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":210,"y":640,"wires":[["5c2fc3cd73bf016e"]]},{"id":"21138954a871e598","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"notify","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"title\": msg.plug,\"message\": msg.message}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2130,"y":580,"wires":[["08c0412545aef80b"]]},{"id":"edf74f929674f50d","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"persistent_notification","server":"f482c16b.7b4d","version":3,"debugenabled":true,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\": msg.pod,\"message\": msg.message}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1940,"y":580,"wires":[["21138954a871e598"]]},{"id":"08c0412545aef80b","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"chatId","rules":[{"t":"set","p":"chatId","pt":"msg","to":"-804346149","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2270,"y":580,"wires":[["9d4b546ed4058abd"]]},{"id":"9d4b546ed4058abd","type":"function","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Message","func":"var message = \n  '*' + msg.pod + '*' +\n  `\n` + msg.message;\n\nmsg.message = message;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":660,"wires":[["87275aaf7e8dccb7"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"1de64334aff41dcf","type":"function","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"create_payload","func":"\nmsg.payload = {}\nmsg.payload.type = 'message';\nmsg.payload.content = msg.message;\nmsg.payload.chatId = msg.chatId;\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2220,"y":660,"wires":[["bda05e7d16757ec4","5babe14544918874"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"5babe14544918874","type":"telegram sender","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","bot":"0a335b833cb0b366","haserroroutput":false,"outputs":1,"x":2050,"y":740,"wires":[[]]},{"id":"87275aaf7e8dccb7","type":"function","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"format","func":"msg.message = msg.message.replace(/\\./g, \"\\\\.\");\nmsg.message = msg.message.replace(/\\:/g, \"\\\\:\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2070,"y":660,"wires":[["1de64334aff41dcf"]]},{"id":"0fb75c1f1abb8bc8","type":"inject","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["feec51ab288054cf","b13930f8826798d7","0329f12c1807d0ea","3c20d0027ece823f"]]},{"id":"a6bdf2785c7d808d","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"power_average_step > 300","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"500","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.ma_shelly_{{plug}}_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":120,"wires":[["fb2994ceb9e5a4bf"],[]]},{"id":"fb2994ceb9e5a4bf","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"is_power_comsuming on","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.ma_shelly_{{plug}}_is_power_comsuming","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":120,"wires":[[]]},{"id":"feec51ab288054cf","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["361463d8e2693593"]]},{"id":"b13930f8826798d7","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["361463d8e2693593"]]},{"id":"0329f12c1807d0ea","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["361463d8e2693593"]]},{"id":"3c20d0027ece823f","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["361463d8e2693593"]]},{"id":"e4da59d64916e5e9","type":"inject","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":380,"wires":[["dca9b7e51ff60d95","da5a0f9621efb978","54181cb94e63f41a","6c689d4038e6df1a"]]},{"id":"dca9b7e51ff60d95","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["b7131c6526c33bf5"]]},{"id":"da5a0f9621efb978","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["b7131c6526c33bf5"]]},{"id":"54181cb94e63f41a","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["b7131c6526c33bf5"]]},{"id":"6c689d4038e6df1a","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":540,"wires":[["b7131c6526c33bf5"]]},{"id":"76e7ed80f234026b","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer not active?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"active","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"timer.ma_shelly_{{plug}}_timer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":360,"wires":[["2d801140495d5701"],[]]},{"id":"2d801140495d5701","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer_start","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"script","service":"ma_shelly_{{plug}}_timer_start","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":360,"wires":[[]]},{"id":"803c1fa31f0bdbe3","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"power_average_step <= 50","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.ma_shelly_{{plug}}_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":180,"wires":[["101da2947007b23a"],[]]},{"id":"101da2947007b23a","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"is_power_comsuming off","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ma_shelly_{{plug}}_is_power_comsuming","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":180,"wires":[[]]},{"id":"c57aef766b322e91","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"is_power_comsuming","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ma_shelly_{{plug}}_is_power_comsuming","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":360,"wires":[["76e7ed80f234026b"],[]]},{"id":"f483a3b783bf4dd9","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"shelly_plug off?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_{{plug}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":240,"wires":[["bf8154d8b958d20e","827ed91ba83bf185","101da2947007b23a"],[]]},{"id":"e77917460a35fa9a","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer_cancel","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"script","service":"ma_shelly_{{plug}}_timer_cancel","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":260,"wires":[[]]},{"id":"bf8154d8b958d20e","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer not off?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"idle","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"timer.ma_shelly_{{plug}}_timer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":260,"wires":[["e77917460a35fa9a"],[]]},{"id":"7c68065c9ccf2cc6","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"shelly_plug on?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_{{plug}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":160,"wires":[["a6bdf2785c7d808d","803c1fa31f0bdbe3"],[]]},{"id":"5e44819b103b36c6","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"shelly_plug on?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_{{plug}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":360,"wires":[["c57aef766b322e91"],[]]},{"id":"5c2fc3cd73bf016e","type":"switch","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"timer.ma_shelly_plug01_notification_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug02_notification_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug03_notification_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug04_notification_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug01_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug02_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug03_timer","vt":"str"},{"t":"eq","v":"timer.ma_shelly_plug04_timer","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":450,"y":660,"wires":[["2d06c91f91b2941f"],["315c763b0eb2a3d0"],["bd565404b9d4b6a7"],["1a55de8a5e1ab8ad"],["b7fce938d272483f"],["083b30df49d29c87"],["f1478836fea38d40"],["76f1fe156f03cd79"]]},{"id":"242b041848248450","type":"server-events","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"","server":"f482c16b.7b4d","version":1,"event_type":"timer.paused","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":680,"wires":[["5c2fc3cd73bf016e"]]},{"id":"e9989d58c72e5c32","type":"server-events","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"","server":"f482c16b.7b4d","version":1,"event_type":"timer.cancelled","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":720,"wires":[["5c2fc3cd73bf016e"]]},{"id":"b85ddca7ea13cebb","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Backup timer cancelled.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":840,"wires":[["3a227481d2201d6e"]]},{"id":"75f4492c2611d2fc","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Backup timer started","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":720,"wires":[["5cf0da0f7d2e07de"]]},{"id":"3e94c174d4b9efc7","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Notification timer cancelled.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":680,"wires":[["3a227481d2201d6e"]]},{"id":"b55bacccb48ce5f5","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Notification timer paused.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":640,"wires":[["3a227481d2201d6e"]]},{"id":"16afa9d6e95aae90","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Notification timer finished. Please turn off manually.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":600,"wires":[["3a227481d2201d6e"]]},{"id":"e2112738c6ea7336","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Notification timer started","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["9b74217658332505"]]},{"id":"b768bc10eadc1035","type":"switch","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"timer.started","vt":"str"},{"t":"eq","v":"timer.finished","vt":"str"},{"t":"eq","v":"timer.paused","vt":"str"},{"t":"eq","v":"timer.cancelled","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":790,"y":600,"wires":[["e2112738c6ea7336"],["16afa9d6e95aae90"],["b55bacccb48ce5f5"],["3e94c174d4b9efc7"]]},{"id":"fe49072f5a08d1de","type":"switch","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"timer.started","vt":"str"},{"t":"eq","v":"timer.finished","vt":"str"},{"t":"eq","v":"timer.paused","vt":"str"},{"t":"eq","v":"timer.cancelled","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":740,"wires":[["75f4492c2611d2fc"],["b8abeae83c8da9dc"],["42f75b7d40d94596"],["b85ddca7ea13cebb"]]},{"id":"2d06c91f91b2941f","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["b768bc10eadc1035"]]},{"id":"315c763b0eb2a3d0","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":520,"wires":[["b768bc10eadc1035"]]},{"id":"bd565404b9d4b6a7","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["b768bc10eadc1035"]]},{"id":"1a55de8a5e1ab8ad","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":600,"wires":[["b768bc10eadc1035"]]},{"id":"b7fce938d272483f","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":660,"wires":[["fe49072f5a08d1de"]]},{"id":"083b30df49d29c87","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":700,"wires":[["fe49072f5a08d1de"]]},{"id":"f1478836fea38d40","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":740,"wires":[["fe49072f5a08d1de"]]},{"id":"76f1fe156f03cd79","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[["fe49072f5a08d1de"]]},{"id":"42f75b7d40d94596","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Backup timer paused.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":800,"wires":[["3a227481d2201d6e"]]},{"id":"b8abeae83c8da9dc","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Backup timer finished. Turned off Shelly plug.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":760,"wires":[["2a96f8e588366b47","3a227481d2201d6e"]]},{"id":"2a96f8e588366b47","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"ma_shelly_plug off","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_{{plug}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":760,"wires":[["3a227481d2201d6e"]]},{"id":"827ed91ba83bf185","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer not off?","server":"f482c16b.7b4d","version":3,"outputs":2,"halt_if":"idle","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"timer.ma_shelly_{{plug}}_notification_timer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":320,"wires":[["86fe7b19d2a85599"],[]]},{"id":"86fe7b19d2a85599","type":"api-call-service","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer_cancel","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"script","service":"ma_shelly_{{plug}}_notification_timer_cancel","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":320,"wires":[[]]},{"id":"b0672867e4306a4a","type":"debug","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":1380,"wires":[]},{"id":"76e8c6da833a297d","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug01","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_plug01","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1320,"wires":[[]]},{"id":"90cc04fca260f0bc","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug02","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_plug02","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1360,"wires":[[]]},{"id":"ec687a4f553cedea","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug03","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_plug03","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1400,"wires":[[]]},{"id":"0b7935189b68ed51","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug04","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_plug04","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1440,"wires":[[]]},{"id":"4fc52f84c7e39c21","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"all","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ma_shelly_plug01, switch.ma_shelly_plug02, switch.ma_shelly_plug03, switch.ma_shelly_plug04","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1480,"wires":[[]]},{"id":"9b74217658332505","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"notification_timer_duration","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.ma_shelly_{{plug}}_notification_timer_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":520,"wires":[["2767adcd0ba679d7","6d9156e31b6bf0ae"]]},{"id":"a390f13c4ab808f8","type":"function","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"function 1","func":"msg.message = msg.message + ' with ' + msg.data.attributes.duration;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":540,"wires":[["3a227481d2201d6e"]]},{"id":"5cf0da0f7d2e07de","type":"api-current-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"timer_duration","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.ma_shelly_{{plug}}_timer_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":700,"wires":[["153acf69ad9feb08","6a6cd9f34a93e818"]]},{"id":"7f40506b54d33604","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":500,"wires":[["e2112738c6ea7336"]]},{"id":"bda05e7d16757ec4","type":"debug","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2240,"y":740,"wires":[]},{"id":"8bf3b1246de1b81f","type":"inject","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":500,"wires":[["7f40506b54d33604"]]},{"id":"56abaabf02aa6735","type":"function","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"function 4","func":"msg.message = msg.message + ' with ' + msg.data.attributes.duration;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":760,"wires":[["3a227481d2201d6e"]]},{"id":"2767adcd0ba679d7","type":"switch","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","property":"data.attributes.duration","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":460,"wires":[["3a227481d2201d6e"],["a390f13c4ab808f8"]]},{"id":"153acf69ad9feb08","type":"switch","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"","property":"data.attributes.duration","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":760,"wires":[["3a227481d2201d6e"],["56abaabf02aa6735"]]},{"id":"6d9156e31b6bf0ae","type":"debug","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":420,"wires":[]},{"id":"6a6cd9f34a93e818","type":"debug","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":660,"wires":[]},{"id":"4eb2acd8dca81ea9","type":"trigger-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"ma_shelly_plug01 on->off","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug01","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":840,"wires":[["7cec779ddb934d71"],[]]},{"id":"7cec779ddb934d71","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":840,"wires":[["2ba12bea0b9b446e"]]},{"id":"18620d81c1ac5965","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":900,"wires":[["2ba12bea0b9b446e"]]},{"id":"22fd7b37b1742dd4","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":940,"wires":[["2ba12bea0b9b446e"]]},{"id":"1a68e55ba98b0603","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":980,"wires":[["2ba12bea0b9b446e"]]},{"id":"2ba12bea0b9b446e","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Shelly Plug turned off.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":840,"wires":[["edf74f929674f50d"]]},{"id":"a5263d4e1bc12371","type":"trigger-state","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"ma_shelly_plug01 off->on","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug01","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":1020,"wires":[["dd960f6bd45c7a1b"],[]]},{"id":"dd960f6bd45c7a1b","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 1","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug01","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1020,"wires":[["331250202096e4ce"]]},{"id":"331250202096e4ce","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"message","rules":[{"t":"set","p":"message","pt":"msg","to":"Shelly Plug turned on.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":1000,"wires":[["edf74f929674f50d"]]},{"id":"93ebbe2eb7fa8cb3","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 4","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug04","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1160,"wires":[["331250202096e4ce"]]},{"id":"56aefd5538f4739d","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 3","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug03","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1120,"wires":[["331250202096e4ce"]]},{"id":"d85af8749a279f47","type":"change","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"Pod 2","rules":[{"t":"set","p":"plug","pt":"msg","to":"plug02","tot":"str"},{"t":"set","p":"pod","pt":"msg","to":"Pod 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":1080,"wires":[["331250202096e4ce"]]},{"id":"5559bc5508e14b8f","type":"trigger-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"ma_shelly_plug02 on->off","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug02","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":900,"wires":[["18620d81c1ac5965"],[]]},{"id":"fc69b11017edf36f","type":"trigger-state","z":"0a84fcef42ddc94e","g":"f1899613720e0d3e","name":"ma_shelly_plug03 on->off","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug03","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":940,"wires":[["22fd7b37b1742dd4"],[]]},{"id":"0149845402046c55","type":"trigger-state","z":"0a84fcef42ddc94e","name":"ma_shelly_plug04 on->off","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug04","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":980,"wires":[["1a68e55ba98b0603"],[]]},{"id":"de7062b875186b94","type":"trigger-state","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"ma_shelly_plug02 off->on","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug02","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":1080,"wires":[["d85af8749a279f47"],[]]},{"id":"643e913b59bb39cf","type":"trigger-state","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"ma_shelly_plug03 off->on","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug03","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":1120,"wires":[["56aefd5538f4739d"],[]]},{"id":"9ff69300eba2f82c","type":"trigger-state","z":"0a84fcef42ddc94e","d":true,"g":"f1899613720e0d3e","name":"ma_shelly_plug04 off->on","server":"f482c16b.7b4d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.ma_shelly_plug04","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":1160,"wires":[["93ebbe2eb7fa8cb3"],[]]},{"id":"25787cb411e23250","type":"api-current-state","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug02","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_plug02","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ma_shelly_plug02","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":1580,"wires":[["29e3c6d68f74179c"]]},{"id":"897830b5190a2801","type":"api-current-state","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug01","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_plug01","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ma_shelly_plug01","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":1520,"wires":[["25787cb411e23250"]]},{"id":"29e3c6d68f74179c","type":"api-current-state","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug03","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_plug03","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ma_shelly_plug03","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":1620,"wires":[["895ba647f2655245"]]},{"id":"895ba647f2655245","type":"api-current-state","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"ma_shelly_plug04","server":"f482c16b.7b4d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ma_shelly_plug04","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ma_shelly_plug04","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":1660,"wires":[["0a01731189a29fe5"]]},{"id":"dff9b29fe31557b8","type":"telegram sender","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"","bot":"0a335b833cb0b366","haserroroutput":false,"outputs":1,"x":1530,"y":1640,"wires":[[]]},{"id":"7fd5f9e4ae6ddb2b","type":"function","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"create_payload","func":"\nmsg.payload = {}\nmsg.payload.type = 'message';\nmsg.payload.content = msg.message;\nmsg.payload.chatId = msg.chatId;\n// activate markdown\nmsg.payload.options = {\n  disable_web_page_preview: true,\n  parse_mode: \"MarkdownV2\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":1560,"wires":[["dff9b29fe31557b8"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"0fb067b898d6e950","type":"function","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"format","func":"msg.message = msg.message.replace(/\\./g, \"\\\\.\");\nmsg.message = msg.message.replace(/\\:/g, \"\\\\:\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":1560,"wires":[["7fd5f9e4ae6ddb2b"]]},{"id":"39ed800024dd1b68","type":"function","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"Message","func":"var message = \n  '* States *' +\n  `\n` + msg.message;\n\nmsg.message = message;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1560,"wires":[["0fb067b898d6e950"]],"info":"## New message\n\nHello *markdown* formatted messages!'\n\nwith `inline` code\n\n> and quote\n>> nested\n\n\\`\\`\\`\nvar code = \"cool\";\n\\`\\`\\`\n\n| table | data |\n|---|---|\n| 1 | fred |\n| 2 | bob |\n\n_Italic_ **bold** "},{"id":"20f5708251409d9b","type":"change","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"chatId","rules":[{"t":"set","p":"chatId","pt":"msg","to":"-804346149","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":1480,"wires":[["39ed800024dd1b68"]]},{"id":"1f9fcce6ad3cc7a0","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"notify","server":"f482c16b.7b4d","version":3,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"title\": msg.plug,\"message\": msg.message}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":1480,"wires":[["20f5708251409d9b"]]},{"id":"7b9dfb485c9f7dc0","type":"api-call-service","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"persistent_notification","server":"f482c16b.7b4d","version":3,"debugenabled":true,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\": msg.pod,\"message\": msg.message}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":1480,"wires":[["1f9fcce6ad3cc7a0"]]},{"id":"0a01731189a29fe5","type":"template","z":"0a84fcef42ddc94e","g":"65fd1e389376b567","name":"format it","field":"message","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Pod 1: {{ma_shelly_plug01}}\nPod 2: {{ma_shelly_plug02}}\nPod 3: {{ma_shelly_plug03}}\nPod 4: {{ma_shelly_plug04}}","output":"str","x":1200,"y":1480,"wires":[["7b9dfb485c9f7dc0"]]},{"id":"8a365a603019c1f2","type":"mqtt out","z":"6461cd2bad4f5f85","name":"","topic":"shellies/shellyplug-s-5B0CF6/relay/0/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"090665a04fa6c385","x":400,"y":60,"wires":[]},{"id":"31bb4f83d9336f51","type":"inject","z":"6461cd2bad4f5f85","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":60,"wires":[["8a365a603019c1f2"]]},{"id":"99830a9326997575","type":"debug","z":"6461cd2bad4f5f85","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]},{"id":"b562aa0e3e5142b2","type":"mqtt in","z":"6461cd2bad4f5f85","name":"","topic":"#","qos":"2","datatype":"auto-detect","broker":"090665a04fa6c385","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":200,"wires":[["99830a9326997575"]]},{"id":"d5aec5d5de1011b8","type":"inject","z":"6461cd2bad4f5f85","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":100,"wires":[["8a365a603019c1f2"]]}]